@font-face {
    font-family: 'headliner';
    src: url('../fonts/headliner/headliner_.eot');
    src: url('../fonts/headliner/headliner_.eot?#iefix') format('embedded-opentype'),
         url('../fonts/headliner/headliner_.woff2') format('woff2'),
         url('../fonts/headliner/headliner_.woff') format('woff'),
         url('../fonts/headliner/headliner_.ttf') format('truetype'),
         url('../fonts/headliner/headliner_.svg#headliner_no._45rus_by_lyajRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

#bg {
    background: url('../img/stroyka_4_01.jpg') no-repeat center center;
    position: relative;
    min-height: 100%;
    background-size: cover;
}

.score {
    text-align: center;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 100px;
	opacity: 0;
	color: #2d3436;
	transition: all .5s ease;
	font-family: 'headliner', sans-serif;
}

.score.active {
	opacity: 1;
}

#bucket {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
	left: 42%;
	animation: bucket .8s linear;
}

@keyframes bucket {
	0%{
		left: -100%;
    }
    50%{
		left: 0%;
    }
	100%{
		left: 42%;
    }
}

.brick {
    background: url('../img/1.png') no-repeat center;
    background-size: contain;
    width: 90px;
    height: 40px;
    position: absolute;
    top: -100px;
    left: 0;
    transition: transform .7s linear;
    animation: brickFirst .7s linear infinite;
}

@keyframes brickFirst {
    0%{
        transform: rotate(0deg);
    }
    15%{
        transform: rotate(45deg);
    }
    25%{
        transform: rotate(90deg);
    }
    35%{
        transform: rotate(135deg);
    }
    45%{
        transform: rotate(180deg);
    }
    55%{
        transform: rotate(225deg);
    }
    75%{
        transform: rotate(270deg);
    }
    90%{
        transform: rotate(315deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
